.vs
helloworld-3d4abk667j5x8
1gr1l530bxrlr5qb.o
3ao70ckkp305lna1.o
3vv4k9ob9jpzv13y.o
3we5ko8g4kmp820d.o
47b8v5cnpck837mz.o
4z5ucixpm2z4qtf0.o
dep-graph.bin
query-cache.bin
work-products.bin
s-gu0jitpya2-b4whot.lock
target
helloworld/src/main.pdb
helloworld/src/main.exe
